// Mixins
//
// --------------------------------------------------


    // Border radius
    // ------------------------------------

    // Border radius
    @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
    }

    // Border radius - top left
    @mixin border-top-left-radius($radius) {
      -webkit-border-top-left-radius: $radius;
         -moz-border-top-left-radius: $radius;
          -ms-border-top-left-radius: $radius;
              border-top-left-radius: $radius;
    }

    // Border radius - top right
    @mixin border-top-right-radius($radius) {
      -webkit-border-top-right-radius: $radius;
         -moz-border-top-right-radius: $radius;
          -ms-border-top-right-radius: $radius;
              border-top-right-radius: $radius;
    }

    // Border radius - bottom left
    @mixin border-top-left-radius($radius) {
      -webkit-border-bottom-left-radius: $radius;
         -moz-border-bottom-left-radius: $radius;
          -ms-border-bottom-left-radius: $radius;
              border-bottom-left-radius: $radius;
    }

    // Border radius - bottom right
    @mixin border-top-right-radius($radius) {
      -webkit-border-bottom-right-radius: $radius;
         -moz-border-bottom-right-radius: $radius;
          -ms-border-bottom-right-radius: $radius;
              border-bottom-right-radius: $radius;
    }



    // Animation
    // ------------------------------------

    // Animation
    @mixin animation($animation) {
      -webkit-animation: $animation;
              animation: $animation;
    }

    // Keyframes
    @mixin keyframes($name) {
      @-webkit-keyframes #{$name} { @content; }
      @-moz-keyframes #{$name} { @content; }
      @-ms-keyframes #{$name} { @content; }
      @keyframes #{$name} { @content; }
    }



    // Gradients
    // ------------------------------------

    // Top to bottom
    @mixin gradient-vertical($top, $bottom) {
      background: $top;
      background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
      background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
      background: -o-linear-gradient(top, $top 0%, $bottom 100%);
      background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
      background: linear-gradient(to bottom, $top 0%, $bottom 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='$swatch__core--white',
      endColorstr='$swatch__core--black'
      GradientType=0
      );
    }

    // Left to right
    @mixin gradient-horizontal($left, $right) {
      background: $left;
      background: -moz-linear-gradient(left, $left 0%, $right 100%);
      background: -webkit-gradient(linear, left left, left right, color-sleft(0%, $left), color-sleft(100%, $right));
      background: -webkit-linear-gradient(left, $left 0%, $right 100%);
      background: -o-linear-gradient(left, $left 0%, $right 100%);
      background: -ms-linear-gradient(left, $left 0%, $right 100%);
      background: linear-gradient(to right, $left 0%, $right 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='$swatch__core--white',
      endColorstr='$swatch__core--black'
      GradientType=0
      );
    }

    // Diagonal
    @mixin gradient-diagonal($top-left, $bottom-right) {
      background: $top-left;
      background: -moz-linear-gradient(-45deg,  $top-left 0%, $bottom-right 100%);
      background: -webkit-linear-gradient(-45deg,  $top-left 0%, $bottom-right 100%);
      background: linear-gradient(135deg,  $top-left 0%, $bottom-right 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='$top-left',
      endColorstr='$bottom-right',
      GradientType=1
      );
    }



    // Miscellaneous
    // ------------------------------------

    // Filter
    @mixin filter($filter) {
      -webkit-filter: $filter;
      filter: $filter;
    }

    // Transition
    @mixin transition($transition) {
      -webkit-transition: $transition;
         -moz-transition: $transition;
           -o-transition: $transition;
              transition: $transition;
    }

    // Box shadow
    @mixin box-shadow($shadow) {
      -webkit-box-shadow: $shadow;
         -moz-box-shadow: $shadow;
              box-shadow: $shadow;
    }

    // Transform
    @mixin transform($transform) {
      -webkit-transform: $transform;
         -moz-transform: $transform;
          -ms-transform: $transform;
           -o-transform: $transform;
              transform: $transform;
    }

    // Background clip
    @mixin background-clip($background-clip) {
      -webkit-background-clip: $background-clip;
         -moz-background-clip: $background-clip;
          -ms-background-clip: $background-clip;
           -o-background-clip: $background-clip;
              background-clip: $background-clip;
    }

    // SVG background
    @mixin svg-bg($name, $size:false, $color:false) {
      $image-path: 'img' !default;
      $fallback-extension: 'png' !default;
      $retina-suffix: '@2x';

      background-image: url(#{$image-path}/#{$name}.svg);
      background-repeat: no-repeat;
      @if($size){
        background-size: $size;
      }
      @if($color){
        background: $color;
        mask-image: url(#{$image-path}/#{$name}.svg);
        -webkit-mask-image: url(#{$image-path}/#{$name}.svg);
      }

      .no-svg & {
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (
        -moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
      }
    }



    // Utilities
    // ------------------------------------

    // Vertical align
    @mixin vertical-align($position: relative) {
      position: $position;
      top: 50%;
      @include transform(translateY(-50%));
    }
