// Swatches
//
// --------------------------------------------------


$swatch__core--black:         #101010;
$swatch__core--grey:          #212121;
$swatch__core--white:         #FFFFFF;
$swatch__core--violet:        #502681;
$swatch__core--blue:          #263680;
