// Font - Lato
//
// --------------------------------------------------


    // Lato Hairline
    @font-face {
        font-family: 'Lato Hairline';
        src: url('fonts/lato/lato-hairline-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-hairline-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Hairline Italic
    @font-face {
        font-family: 'Lato Hairline Italic';
        src: url('fonts/lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-hairlineitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Thin
    @font-face {
        font-family: 'Lato Thin';
        src: url('fonts/lato/lato-thin-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Thin Italic
    @font-face {
        font-family: 'Lato Thin Italic';
        src: url('fonts/lato/lato-thinitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-thinitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Light
    @font-face {
        font-family: 'Lato Light';
        src: url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Light Italic
    @font-face {
        font-family: 'Lato Light Italic';
        src: url('fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-lightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Regular
    @font-face {
        font-family: 'Lato Regular';
        src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Regular Italic
    @font-face {
        font-family: 'Lato Regular Italic';
        src: url('fonts/lato/lato-regularitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-regularitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Medium
    @font-face {
        font-family: 'Lato Medium';
        src: url('fonts/lato/lato-medium-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Medium Italic
    @font-face {
        font-family: 'Lato Medium Italic';
        src: url('fonts/lato/lato-mediumitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-mediumitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Semibold
    @font-face {
        font-family: 'Lato Semibold';
        src: url('fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-semibold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Semibold Italic
    @font-face {
        font-family: 'Lato Semibold Italic';
        src: url('fonts/lato/lato-semibolditalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-semibolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Bold
    @font-face {
        font-family: 'Lato Bold';
        src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Bold Italic
    @font-face {
        font-family: 'Lato Bold Italic';
        src: url('fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-bolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Heavy
    @font-face {
        font-family: 'Lato Heavy';
        src: url('fonts/lato/lato-heavy-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-heavy-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Heavy Italic
    @font-face {
        font-family: 'Lato Heavy Italic';
        src: url('fonts/lato/lato-heavyitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-heavyitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Black
    @font-face {
        font-family: 'Lato Black';
        src: url('fonts/lato/lato-black-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    // Lato Black Italic
    @font-face {
        font-family: 'Lato Black Italic';
        src: url('fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'),
             url('fonts/lato/lato-blackitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
