// Template - Event
//
// --------------------------------------------------


.page-template-event {

  aside {
    @extend .col-md-4;
    @extend .hidden-sm;
    @extend .hidden-xs;

      .aside__nav {
        font-size: 14px;
        padding: 3.8em 0 5.2em 2.4em;

        ul {
          padding: 0;

          li {
            padding: 0.3em 0 0.4em 0.8em;
            margin: 0.6em 0;
            list-style: none;
            @include transition(margin 0.1s ease-out);

            a {
              color: $swatch__core--grey;
              font-family: $font-semibold;
              font-size: 0.9em;
              letter-spacing: 0.2em;
              text-transform: uppercase;

              &:hover, &:active, &:focus {
                text-decoration: none;
              }
            }

            &.current_page_item {
              border-left: 2px solid $swatch__core--violet;

              &:hover {
                margin-left: 0;
              }
            }

            &:hover {
              margin-left: 4px;
            }

          }

        }

      }

  }

  main {
    @extend .col-md-8;
  }

}
