// Module - Slider
//
// --------------------------------------------------


section.module__slider {
  height: 540px;
  background: darken($swatch__core--violet, 10);
  background: url(http://media.vanityfair.com/photos/56004f763a02e0b16051ed63/master/pass/penn-teller-fool-us-magic-tricks.jpg);
  background-position: center 25%;
  background-size: cover;
  background-repeat: no-repeat;

  .slider__overlay {
    @extend %overlay;
    background: $swatch__core--black;
    opacity: 0.6;
  }

  .slider__messaging {
    position: absoute;
    width: 100%;
    height: 100%;
    padding: 80px 0 40px 0;

    .container {
      @include vertical-align;
      color: $swatch__core--white;

      h1 {
        text-transform: uppercase;
        @extend .text-center;
      }

      h3 {
        text-transform: uppercase;
        @extend .text-center;
      }

    }

  }

  .slider__cta {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba($swatch__core--black, 0.5);

    .cta {
      position: relative;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-family: $font-semibold;
      color: $swatch__core--white;
      font-size: 1em;
      letter-spacing: 0.15em;
      text-align: center;
      padding: 12px 0;
      opacity: 0.9;
      cursor: pointer;
      @include transition(opacity 0.1s ease-out);

      &:hover, &:active, &:focus {
        text-decoration: none;
        opacity: 1;
      }
    }

    .cta--left {
      @extend .col-md-6;

      .cta {
        @include gradient-diagonal($swatch__core--violet,$swatch__core--blue);
      }
    }

    .cta--right {
      @extend .col-md-6;

      .cta {
        background: $swatch__core--black;
      }
    }
  }

}
