// Module - Slider
//
// --------------------------------------------------


section.module__slider {
  position: relative;
  text-align: center;

  #slider {
    font-size: 48px;
    margin: 80px 0 43px 0;
    max-height: 480px;

    @media (max-width: $screen-md) {
      margin: 50px 0 86px 0;
      max-height: 320px;
    }
  }

  .slider__overlay {
    @extend %overlay;
    background: $swatch__core--black;
    opacity: 0.6;
    z-index: 5;
  }

  .nivo-caption {
    @include vertical-align(absolute);
    padding: 0 1.2em;
    margin: 0;
    display: table;
    background: none;
    color: $swatch__core--white;
    opacity: 1;
    @extend h2;

    .caption__heading {
      margin: 0 0 0.5em 0;
      font-family: $font-bold--italic;
      font-size: 1em;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      @media (max-width: $screen-sm) {
        font-size: 0.8em;
      }
    }

    .caption__attr {
      margin: 0;
      font-family: $font-medium;
      font-size: 0.45em;
      text-transform: uppercase;
      letter-spacing: 0.2em;

      @media (max-width: $screen-sm) {
        font-size: 0.325em;
      }
    }
  }

  .slider__cta {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba($swatch__core--black, 0.2);
    z-index: 999;

    .cta {
      position: relative;
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-family: $font-semibold;
      color: $swatch__core--white;
      font-size: 1em;
      letter-spacing: 0.15em;
      text-align: center;
      padding: 12px 0;
      opacity: 0.9;
      cursor: pointer;
      @include transition(opacity 0.1s ease-out);

      &:hover, &:active, &:focus {
        text-decoration: none;
        opacity: 1;
      }
    }

    .cta--left {
      @extend .col-md-6;
      padding: 0;

      .cta {
        @include gradient-diagonal($swatch__core--violet,$swatch__core--blue);
      }
    }

    .cta--right {
      @extend .col-md-6;
      padding: 0;

      .cta {
        background: $swatch__core--black;
      }
    }
  }

}
