// Module - Title Block
//
// --------------------------------------------------


section.module__title_block {
  height: 380px;
  background: $swatch__core--violet;

  h1 {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    color: $swatch__core--white;
    font-family: $font-bold;
    text-transform: uppercase;
    letter-spacing: 0.065em;
    z-index: 999;

    @media (max-width: $screen-md) {
      position: relative;
      margin: 50px 0 0 0;
      padding: 36px 0;
      text-align: center;
    }

  }

  .background__overlay {
    @extend %overlay;
    opacity: 0.8;
    background: $swatch__core--violet;
    z-index: 1;
  }

  .background__image {
    @extend %overlay;
    background-image: url('https://unsplash.it/1920/600/?random');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  @media (max-width: $screen-md) {
    height: auto;
  }

}
